:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter";
    --botao-azul-efeito: #378cf5;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    
}

.principal {
    background-image: url("img/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center; /* alinha os itens no grid*/
    text-align: center; /* alinha todo o texto inline dentro de elementos de bloco (como a section e a div) no centro */
}

.container {
    height: 100vh;  /* altura da classe container eh 100% da viewport height do aparelho (vh) - obtida pelas tag meta */
    display: grid;
    grid-template-columns: 50% 50% ;
}

/* block element modifier */
.container__botao { 
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em; /* Medida relativa: o tamanho da fonte  */
    color: var(--branco-principal) ;
    display: block; /* display no seu bloco e não em linha (inline) */
    text-decoration: none;
    margin-bottom: 1em;

}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal); /* 2px de largura e cor branca continua para o contorno (solida) */ 
    
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);

}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0; /* 1em em cima, 0 na direita, 2em embaixo e 0 na esquerda */ 
}

.container__caixa {
    margin: 0 6em; /* 0 em cima e embaixo, 6em na direita e esquerda */
}

.secundario {
    align-items: center;
    margin: 0 6em;
}

.secundario__imagem { 
    width: 80%; /* design responsivo - garante q imagem n se sobrepoe ao texto - 80% de sua coluna */
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto { 
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block; 
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    
    text-align: center;
}

.dispositivos__lista {
    display: flex; /* flexbox bota os filhos do container no padrao "row", formando uma linha */
    justify-content: center; /* alinha os itens do flex container no meio*/
    list-style-type: none; /* tira os bullets da lista */
    margin: 5em 0;  
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal); /* nao precisava, mas atribui cor no titulo e itens (abaixo) p/ caso seja necessario mudar no futuro */
}

.lista__item { 
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape { 
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1em 2em;
}

.lista__link {
    color: var(--branco-principal);
    text-decoration: none;
}
/* Pseudoclasses do CSS abaixo */
.lista__link:hover {
    color: var(--botao-azul);
}

.lista__link:active {
    color: palegreen;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 2em 6em;
}

.rodape__logo {
    margin: 3em 0;
}